#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
}

.swiper-slide img {
  display: block;
  width: 80%;
  margin: auto;
  background-size: contain;
}

.sample-canvas {
  height: 400px;
  border: black solid 1px;
  border-radius: 20px;
}
